.card {
  width: 375px;
  height: 901px;
  flex-grow: 0;
  padding: 24px 16px 29px;
  background-color: #fff;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.notifications {
  width: 127px;
  height: 25px;
  margin: 0 9px 0 0;
  font-size: 20px;
  font-weight: 800;

  text-align: left;
  color: #1c202b;
}

.header .rectangle {
  padding: 1px 11px 4px;
  border-radius: 6px;
  background-color: #0a327b;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}

.mark-all-as-read {
  width: 101px;
  height: 18px;
  margin: 6px 0 3px 80px;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  color: #5e6778;
  /* border: solid; */
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: red; */
}

/* EACH USER */
.user-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 0;
  padding: 10px 12px 10px 10px;
  border-radius: 8px;
  background-color: #f1fafd;
  /* width: 350px; */
  /* border: solid black; */
}
.user-avatar-div {
  width: 45px;
  height: 45px;
  /* border: solid black; */
}
.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.user-div-letters {
  padding: 0 2px 0;
  width: 80%;
  /* border: solid black; */
}
.user-name {
  width: 93px;
  height: 18px;
  margin: 0 5px 0;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  color: #1c202b;
}
.interactive-message {
  width: 149px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #5e6778;
}
.message-content {
  width: 231px;
  height: 90px;
  margin: 15px 6px 0;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  font-weight: bold;
  text-align: left;
  color: #5e6778;
  border-radius: 5px;
  border: solid 1px #dde7ee;
  background-color: #fff;
}
.group {
  width: 77px;
  height: 18px;
  margin: 18px 6px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #0a327b;
}
.reaction-content {
  width: 182px;
  height: 18px;
  margin: 18px 6px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #5e6778;
}
.Oval {
  display: inline-block; /* Ensures the span behaves like a block-level element */
  width: 8px;
  height: 8px;
  /* margin: 6px 10px 6px 6px; */
  margin-left: 6px;
  border-radius: 50%;
  background-color: #f65552;
}

.time-ago {
  width: 47px;
  height: 18px;
  margin: 3px 202px 0 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #939cad;
}

/* HANDLE ACTIONS */
.notification-opened {
  background-color: white;
}
